<form method="post" action="/parameter/add">
    <div class="form-group">
        <label for="code">Parametre Kodu</label>
        <input required autocomplete="off" type="text" class="form-control" id="code" name="code">
    </div>
    <div class="form-group">
        <label for="value">Parametre Değeri</label>
        <input required autocomplete="off" type="text" class="form-control" id="value" name="value">
    </div>
    <div class="form-group">
        <label for="description">Parametre Açıklaması</label>
        <input required autocomplete="off" type="text" class="form-control" id="description" name="description">
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>